
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
}

div {
    border: 2px solid red; 
}

.container, .row, .half-width-container {
    border: none;
}

.sidebar, 
.main-content, 
.box-quarter, 
.half-width-container, 
.strip-half, 
.half-width-box, 
.box-wide, 
.box-narrow {
    float: left;
}

.box-quarter, 
.strip-half, 
.half-width-box, 
.box-wide, 
.box-narrow {
    margin: 10px;
    height: calc(100% - 20px); 
}

.sidebar      { width: 20%; height: 100%; }
.main-content { width: 80%; height: 100%; }
.row          { width: 100%; height: 33.33%; } 

.box-quarter  { width: calc(25% - 20px); }

.half-width-container { width: 50%; height: 100%; } /* קונטיינר עוטף */

.strip-half { 
    width: calc(100% - 20px); 
    height: calc(50% - 20px); 
}

.half-width-box { width: calc(50% - 20px); }

.box-wide     { width: calc(66.66% - 20px); }
.box-narrow   { width: calc(33.33% - 20px); }


@media (max-width: 750px) {
    
    body, .container {
        height: auto;
        overflow-y: auto;
    }

    .sidebar, 
    .main-content, 
    .row, 
    .half-width-container, 
    .box-quarter, 
    .strip-half, 
    .half-width-box, 
    .box-wide, 
    .box-narrow {
        width: 100%;
        height: auto;
        float: none;
    }

    .box-quarter, 
    .strip-half, 
    .half-width-box, 
    .box-wide, 
    .box-narrow {
        width: calc(100% - 20px);
        height: 150px; 
        margin: 5px auto;
        display: block;
    }

    .sidebar {
        height: 50px;
        border-bottom: 2px solid red;
    }
}